<article class="featured">
    <section class="title">
        <div class="block">
            <h1 class="page_heading">About Kadyn's Krew</h1>
        </div>
    </section>

    <section class="block">
        <div class="left col">
            <h4>Cystic Fibrosis is a life-threatening genetic disease that affects over 30,000 children and young adults in the United States alone.</h4>
            <div>
                <p>Worldwide, this devastating disease impacts the lungs and digestive systems of about <strong>70,000 people</strong>, including Kadyn.</p>
                <p>Diagnosed with Cystic Fibrosis shortly after birth, Kadyn has had to battle the debilitating effects of the disease continually. She has endured more in 3 years than most people face in a lifetime. Every day, Kadyn does multiple hours of treatments to maintain just the basic level of health so many of us take for granted. Her days consist of breathing treatments, chest therapy, digestive enzymes, and tolerating cecostomy tube clean outs. Through it all, Kadyn remains upbeat and full of life. Our girl is wholeheartedly happy. She is an inspiration to many, and her spirt is contagious.</p>
                <p>Kadyn's Krew is a group of incredible people who have joined our fight against Cystic Fibrosis. Together, we are raising awareness and raising funds to find a cure for CF. Please <a href="/donate" title="Fund the cure for Cystic Fibrosis.">join us</a>!</p>
            </div>
        </div>
        <div class="right col">
            <div>
                <img src="/img/kadyn_about.jpg">
            </div>
        </div>
    </section>
    <section class="block">
        <h2>Partners and Educational Resources</h2>
        <div class="left col" >
        <p>We want to thank our partners, Great Strides, and the Cystic Fibrosis Foundation<br /> 
           for fighting this critical fight.</p>    
        </div>
    </section>
    <section class="block grid">
        <a href="http://shopstaxx.com"><img src="/img/partners/staxx.png"/></a>
        <a href="http://srcreman.com"><img src="/img/partners/src.png"/></a>
        <a href="http://www.facebook.com/shopjellybeans"><img src="/img/partners/jellybeans.png"/></a>
        <a href="http://www.cff.org/great_strides/?gclid=CK7P1c7n_rECFQWCQgodtQsA5g"><img src="/img/partners/great_strides.png"/></a>
        <a href="http://www.cff.org/"><img src="/img/partners/cf_foundation.png"/></a>
    </section>
</article>