<article class="featured">
    <section class="title">
        <div class="block">
            <h1 class="page_heading">About Kadyn's Crew</h1>
        </div>
    </section>

    <section class="block">
        <div class="left col">
            <h4>Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis.</h4>
            <div>
                <p>Kadyn was diagnosed with Cystic Fibrosis shortly after birth. Cystic Fibrosis is a devastating and life threatening genetic disease that affects the lungs and digestive system of tens of thousands of children and young adults in the United States. Kadyn has endured more in 3 years, than most people endure in a lifetime. She does hours of treatments daily just to keep her healthy. They include breathing treatments, chest therapy, digestive enzymes, and cecostomy tube clean outs. Despite all she does Kadyn is so happy and full of life. She is an inspiration to so many and her spirt is contagious.</p>
                <p>Kadyn's Krew is a group of incredible people who have joined our fight against Cystic Fibrosis. Together we are raising awareness and doing our best to raise funds to find a cure for CF. Please join us!</p>
            </div>
        </div>
        <div class="right col">
            <div>
                <img src="http://placehold.it/381">
            </div>
        </div>
    </section>
    <section class="block">
        <h2>Partners and whatnot for</h2>
    </section>
    <section class="block grid">
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
    </section>
</article>