<article class="featured">
    <section class="title">
        <div class="block">
            <h1 class="page_heading">About Kadyn's Krew</h1>
        </div>
    </section>

    <section class="block">
        <div class="left col">
            <h4>Cystic Fibrosis is a life-threatening disease that affects over 30,000 children & young adults in the US.</h4>
            <div>
                <p>Worldwide, this devastating genetic disease impacts the lungs and digestive systems of about <strong>70,000 people</strong>, including Kadyn.</p>
                <p>Diagnosed with Cystic Fibrosis shortly after birth, Kadyn has had to battle the debilitating effects of the disease continually. She has endured more in 3 years than most people face in a lifetime. Every day, Kadyn does multiple hours of treatments to maintain just the basic level of health so many of us take for granted. Her days consist of breathing treatments, chest therapy, taking digestive enzymes, and tolerating cecostomy tube clean outs. Through it all, Kadyn remains upbeat and full of life. Our girl is wholeheartedly happy. She is an inspiration to many, and her spirt is contagious.</p>
                <p>Kadyn's Krew is a group of incredible people who have joined our fight against Cystic Fibrosis. Together, we are raising awareness and raising funds to find a cure for CF. Please join us!</p>
            </div>
        </div>
        <div class="right col">
            <div>
                <img src="http://placehold.it/381">
            </div>
        </div>
    </section>
    <section class="block">
        <h2>Partners and whatnot for</h2>
    </section>
    <section class="block grid">
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
    </section>
</article>