<article class="furly">
    <section class="block">
        <div class="left col">
            <% @entries[0..4].each do |entry| %>
            <div class="post">
                <div class="post_head">
                    <h3><%=entry.title %></h3>
                    <!-- <ul class="nav">
                        <li></li>
                    </ul> -->
                </div>
                <div>
                    <%=entry.content%>
                </div>
            </div>
            <% end %>
        </div>
        <div class="right col">
            <h3>Come Join Kadyn's Krew</h3>
            <%=partial(:smallgrid) %>
        </div>
    </div>
</article>