<article class="featured">
    <section class="title">
        <div class="block">
            <h1 class="page_heading">Coming Soon!</h1>
            <p class="page_sub">Phasellus Molestie Magna Non Est Bibendum Non Venenatis Nisl Tempor. Suspendisse Dictum Feugiat Nisl Ut.</p>
        </div>
        
    </section>
    

    <section class="block grid">
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
    </section>
</article>