<article class="featured">
    <section class="title">
        <div class="block">
            <h1 class="page_heading">Upcoming Events</h1>
        </div>
    </section>
    <section class="block">
        <!-- asdasd<table>
            <thead>
                <tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                    <td>
                        <p>31</p>
                        <p class="evt">1:30 PM WAT!</p>
                        <p class="evt">1:30 PM WAT WAT!</p>
                    </td>
                </tr>
            </tbody>

        </table> -->
        <iframe src="https://www.google.com/calendar/embed?src=kadynskrew%40gmail.com&ctz=America/Chicago" style="border: 0" width="980" height="600" frameborder="0" scrolling="no"></iframe>
    </section>

</article>