<article class="featured">
    <section class="title">
        <div class="block">
            <h1 class="page_heading">Photos</h1>
            <p class="page_sub">Through Community &mdash; Contributions, Kadyn's Krew Will Help Defeat CF.</p>
        </div>
        
    </section>
    

    <section class="block grid">
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
        <a href="#"><img src="http://placehold.it/192"/></a>
    </section>
</article>