<article class="featured">
    <section class="title">
        <div class="block">
            <h1 class="page_heading">Photos</h1>
            <p class="page_sub">Through Community and Contributions, Kadyn's Krew Will Help Defeat Cystic Fibrosis. Join Us.</p>
        </div>
    </section>
    <%=partial(:photogrid) %>
</article>